

.lft {
  margin-left: 0.5em;
}

.wrapper {
  display: flex;
  align-items: stretch;
  perspective: 1500px;
}


#load {
  color: #fff;
}

.filter-comp li {
  list-style-type: none;
  color: #000;
}

  .list {
    background-color: rgb(85, 84, 84);
  }