.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}


.navbar-brand {
  margin: 0 100px !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bgNav {
  background-color: 	#011933;
  min-height: 60px;
  color: #fff;
  margin: 0;
}

.thought {
  font-family: georgia, sans-serif;
  color: #fff;
  text-align: center;
  padding: 2em 1em 0 5em;
  font-size: 2em;
  text-shadow: -3px 0 black, 0 3px black, 2px 0 black, 0 -1px black;
  font-style: italic;
  letter-spacing: 0.05em;
  position: absolute;
  left: 8em;
}

.thought hr {
  border: 0.02em solid #fff;
}
            /*             Display books            */
.container {
  margin: 5em 0 0 25em;
}

.display-books {
    height: 300px;
    width: 220px;
    color: #fff;
}

.display-books img {
  height: 130px;
  width: 5em;
  margin: 3px 3px 10px;
  border: 0.1em solid #fff;
}

.display-books p {
  max-height: 80px;
  min-height: 80px;
  font-size: 1em;
}


                          /*                Style of the sidebar menu                         */
#page-wrap {
  text-align: center;
  overflow: auto;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #fff;
  transition: color 0.2s;
}

.bm-item:hover {
  color: #17a2b8;
  text-decoration: none;
}

.bm-burger-button {
  position: fixed;
  
  width: 32px;
  height: 28px;
  left: 30px;
  top: 20px;
  border: 0.05em solid transparent;
  
}

.bm-burger-bars {
  background-color: #fff !important;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #fff;
}

.bm-menu {
  background: #011933;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #011933;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.book-categories {
  text-align: center;
  font-weight: bold;
  padding: 1em 0;
  margin-bottom: 2em;
  border: 0.1em solid #17a2b8;
}

.dropdown-container {
  margin-left: 2em;

}

.fa {
  margin-right: 1em;
}

/*                                                                Popup styles                               */
.popup {
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  border: 1px solid black;
  height: 350px;
  width: 500px; 
  overflow: scroll;
  
  text-align: left !important;
}

.imagePopup {
  width: 110px !important;
  height: 140px !important; 
  display: inline-block;
  margin-left: 1.5em !important;
  margin-top: 1.5em !important;
}

.title {
  padding: 1.5em;
  width: 250px;
  /* text-align: right !important; */
  display: inline-block;
  font-size: 1.5em;
  /* float: right; */
}

.basic-info {
 text-align: left;
 padding: 3px;
}
.subtitle {
  text-align: left;
  padding: 5px;
}
.popup-content {
  height: 350px !important;
  width: 500px !important;
  position: relative !important;
  background: #010920 !important;
  border: 0.05em solid #fff !important;
  /* border-radius: 5% !important; */
}