

.navbar-brand {
  margin: 0 100px !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bgNav {
  background-color: 	#011933;
  min-height: 60px;
  color: #fff;
  margin: 0;
  position: fixed;
  z-index: 2;
  width: 100%;
  
}

.navbar-expand-lg {
  box-shadow: 0 0.1em 0.7em -0.1em rgba(255,255,255,.9) !important;
}

.mr-auto {
  margin-right: 2em;
}

.thought {
  font-family: georgia, sans-serif;
  color: #011933;
  text-align: center;
  padding: 3em 1em 0 5em;
  font-size: 2em;
 /* text-shadow: -3px 0 black, 0 3px black, 2px 0 black, 0 -1px black; */
  font-style: italic;
  letter-spacing: 0.05em;
  position: absolute;
  left: 8em;
}

.thought hr {
  border: 0.02em solid #011933;
}
            /*             Display books            */
.container {
  margin: 7em 0 0 25em;
}

.display-books {
    display: inline-block;
    height: 300px;
    width: 220px;
    color: #fff;
    
}

.display-books img {
  height: 150px;
  width: 7em;
  /* margin: 10px 3px 10px; */
  margin-top: 20px;
  border: 0.1em solid #fff;
}

.display-books h6 {
   margin-top: 20px;
   font-size: 1.03em;
   
}

.book-search {
  position: absolute;
  /* top: 320px; */
  top: 360px;
  left: 420px;
  color: #011933;
  font-size: 1.7em;
  /* text-shadow: -3px 0 black, 0 3px black, 2px 0 black, 0 -1px black; */
}
                          /*                Style of the sidebar menu                         */

 #page-wrap {
  text-align: center;
  overflow: auto;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #fff;
  transition: color 0.2s;
}

.bm-item:hover {
  color: #17a2b8;
  text-decoration: none;
}

.bm-burger-button {
  position: fixed;
  
  width: 32px;
  height: 28px;
  left: 30px;
  top: 20px;
  border: 0.05em solid transparent;
  
}

.bm-burger-bars {
  background-color: #fff !important;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #fff;
}

.bm-menu-wrap {
  background: rgba(1, 25, 51, 0.4);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  position: absolute;
  top: 70px;
  width: 16em;
  box-shadow: 0 0.1em 0.7em -0.1em rgba(255,255,255,.9);
}

.bm-morph-shape {
  fill: #011933;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.book-categories {
  text-align: center;
  font-weight: bold;
  padding: 1em 0;
  margin-bottom: 2em;
  border: 0.1em solid #17a2b8;
}

.dropdown-container {
  margin-left: 2em;

}

.fa {
  margin-right: 1em;
}

/*                                                                Popup styles                               */
.popup {
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  border: 1px solid black;
  height: 350px;
  width: 500px; 
  overflow: auto;
  text-align: left !important;
}

.imagePopup {
  width: 110px !important;
  height: 140px !important; 
  display: inline-block;
  margin-left: 1.5em !important;
  margin-top: 1.5em !important;
}

.title {
  padding: 1.5em;
  width: 250px;
  /* text-align: right !important; */
  display: inline-block;
  font-size: 1.5em;
  /* float: right; */
}

.basic-info {
 text-align: left;
 padding: 3px;
}
.subtitle {
  text-align: left;
  padding: 5px;
}
.popup-content {
  height: 350px !important;
  width: 500px !important;
  position: relative !important;
  background: #010920 !important;
  border: 0.05em solid #fff !important;
  /* border-radius: 5% !important; */
}