.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.container {
  margin: 5em 0 0 25em;
}


.navbar-brand {
  margin: 0 100px !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bgNav {
  background-color: 	#011933;
  min-height: 60px;
  color: #fff;
  margin: 0;
}

.thought {
  font-family: georgia, sans-serif;
  color: #fff;
  text-align: center;
  padding: 2em 1em 0 5em;
  font-size: 2em;
  text-shadow: -3px 0 black, 0 3px black, 2px 0 black, 0 -1px black;
  font-style: italic;
  letter-spacing: 0.05em;
  position: absolute;
  left: 8em;
}

.thought hr {
  border: 0.02em solid #fff;
}

.display-books {
    height: 320px;
    width: 220px;
    color: #fff;
}

.display-books img {
  height: 170px;
  width: 130px;
  margin: 3px 3px 10px;
  border: 0.1em solid #fff;
}

                          /*                Style of the sidebar menu                         */
#page-wrap {
  text-align: center;
  overflow: auto;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #fff;
  transition: color 0.2s;
}

.bm-item:hover {
  color: #17a2b8;
  text-decoration: none;
}

.bm-burger-button {
  position: fixed;
  
  width: 32px;
  height: 28px;
  left: 30px;
  top: 20px;
  border: 0.05em solid transparent;
  
}

.bm-burger-bars {
  background-color: #fff !important;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #fff;
}

.bm-menu {
  background: #011933;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #011933;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.book-categories {
  text-align: center;
  font-weight: bold;
  padding: 1em 0;
  margin-bottom: 2em;
  border: 0.1em solid #17a2b8;
}