* {
  box-sizing: border-box;
}

body {
  background-color: #344a64;
  margin: 0;
  padding: 0;
  background-size: cover;
}

.col-sm-4 {
  
  border-radius: 15px;
  border: solid 1px gainsboro;
  margin: 0 1em 1em 0;
  background-color: #011933;
  padding: 1em;
  text-align: center;
}

.title-name {
  margin-top: 1em;
  border-radius: 5px;

  font-weight: bold;
  color: #fff;
  
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.title-name:hover {
  cursor: pointer;
}

li {
  font-size: 0.8em;
}

form {
  margin-bottom: 30px;
}


.nav-link {
  color: #fff !important;
  font-size: 1.5em !important;
  margin-right: 2em;
  
}

.nav-link:hover {
  cursor: pointer;
  color: #17a2b8 !important;
}

.active {
  font-weight: bold;
}


#sidebar.active {
min-width: 120px;
max-width: 120px;


}

.grn {
border: 0.05em solid #17a2b8;
}


/* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/


#sidebar.active .sidebar-header h3 {
  display: none;
}

.sidebar-header {
  text-align: center;
  margin-bottom: 2em;
  margin-top: 5em;
}

.filter-comp li a {
  color: #fff;
  text-align: center;
  font-size: 1.30em;
  text-decoration: none;
  margin-bottom: 1.em;
}

.filter-comp li a:hover {
color: #17a2b8;
}

.filter-comp i {
padding-right: 0.3em;
display: inline-block;
font-size: 1em;
color: #17a2b8;
font-weight: none;
}

.lft {
margin-left: 0.5em;
}



/* Some dropdown links padding*/
#sidebar.active ul a {
padding: 10px !important;
}

/* Changing the arrow position to bottom center position, 
translateX(50%) works with right: 50% 
to accurately  center the arrow */
#sidebar.active .dropdown-toggle::after {
top: auto;
bottom: 40px;
right: 100%;
transform: translateX(100%);
}

#sidebarCollapse {
width: 40px;
height: 38px;
background: #011933;
}

#sidebarCollapse span {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: #555;
}


#sidebarCollapse span:nth-of-type(2) {
/* second one is not visible */
  opacity: 0;
}


#sidebarCollapse.active span {
/* no rotation */
transform: none;
/* all bars are visible */
opacity: 1;
margin: 15px auto;
}



#sidebar {
max-width: 250px;
background-color: #011933;
color: #fff;
padding: 1em;
transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
transform-origin: center left; /* Set the transformed position of sidebar to center right side. */
}

#sidebar.active {
margin-left: 2000px;
}

#load {
color: #fff;
}

.filter-comp li {
list-style-type: none;
color: #000;
}

